header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.cabeza {
    text-align: center;
}

.contenido-footer {
    background-color: #e06262;
    color: #333;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

#logo {
    margin-left: 10px;
    height: 100px;
    text-align: left;
}