{% extends "./includes/plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1>Este es el home de nuestro Proyecto</h1>

    <div class="ml-2">
    {% if not request.user.is_authenticated %}
        <a class="btn btn-outline-warning" href="{% url 'login' %}">
            Login
        </a>
        
    {% endif %}

    {% if not request.user.is_authenticated %}
        {#<a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">#}
            Registrarse
        </a>
    {% endif %}

    {% if request.user.is_authenticated %}
        {#mensaje de bienvenida#}
        <span class="navbar-text m-3">
            Bienvenido, {{ user.username }}!
        </span>
        <form action="{% url 'logout' %}" class="d-flex m-3" role="search" method="POST">
            {% csrf_token %}
            <button class="btn btn-light btn-outline-dark" type="submit">
                Desconectarse
            </button>
        </form>
    {% endif %}
</div>

{% endblock contenido %}